/*
Setter margen (margin) og utfylling (padding) til 0, siden det er vanlig med en satt verdi i nettleseren for dette
*/
body{
	margin:0;
	padding:0;
}
#body-container{
	width:415px;
	height:500px;
	margin:0 auto;
	border:1px solid #3285ef;
}
#body-container.glossary-container{
	clear: both; /*Dette vil ikke tillate noen elementer som flyter på noen av sidene*/
}
#body-container .content-container{
	height:430px;
	width:415px;
	overflow:auto;/*Et rullefelt(Scrollbar)vises når høyden av innholdet er større enn den spesifiserte høyden*/
	font-family:'Arial', Verdana,Tahoma;
	font-size: 10pt;
	clear:both;

}
#body-container .content-container div{
	padding-left:10px;
	border-bottom:1px #666 solid; /*For å adskille hver gruppe*/
	margin-top:-13px;
	
}
#body-container .content-container p.return-to-top{
	color:#0066FF;
	text-decoration:underline;
	text-align:right;
	margin-right:10px;
	cursor: pointer; 
	
}
/*Egenskapene til den ikke-ordnede listen defineres her*/
.firstUL{
	padding:0px 0px 0px 0px;
	margin:0px;
	background-color:#3285ef;
}
.firstUL li{
	background:transparent url("https://fronter.com/uia/links/files.phtml/526008aef38e7.727606634$936476613$/Fagstoff/Lab+_prcent_28individuelt_prcent_29/Filer+for+LAB4/link_sprite_img.jpg") no-repeat scroll 0 0;
	display:inline;
	Font-family:'Arial', Verdana, Tahoma;
	font-size:16pt;
	font-weight:bold;
	padding:10px 15px 9px;
	lineheight: 70px;
	cursor:pointer;
}
.firstUL li.selected{
	background:transparent url ("https://fronter.com/uia/links/files.phtml/526008aef38e7.727606634$936476613$/Fagstoff/Lab+_prcent_28individuelt_prcent_29/Filer+for+LAB4/link_sprite_img.jpg") no-repeat scroll 0px -57px;
	color:#fff;
	font-weight:bold;

}
