/*viser hvordan selve siden vil se ut*/
body
{
  Background-color:#fff;
  text-align:center;
}
/*utforming av overskrifter*/

h1
{
  color:#912CEE;
  Font-family:Georgia,Helvetica,Lucida Sans;
  
  }
  /*fjerner bullets fra en uordnet liste*/
  ul
  {
  list-style-type: none;
  }
  /*klasser som kan brukes flere ganger*/
  .a1
  {
    color:#CC3299;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
    .a2
    {
    color:#CC99CC;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
    .a3
    {
    color:#CCCC00;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
    .a4
    {
    color:#CC7722;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
    .a5
    {
    color:#D02090;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
    .a6
    {
    color:#D15FEE;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
    .a7
    {
    color:#E35152;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
    .a8
    {
    color:#FF7F50;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
    .a9
    {
    color:#FF69B4;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
    .a10
    {
    color:#DB2645;
    Font-family:Georgia,Helvetica,Lucida Sans;
   
   }
    .a11
    {
    color:#CD7054;
    Font-family:Georgia,Helvetica,Lucida Sans;
   
    }
    .a12
    {
    color:#66CCCC;
    Font-family:Georgia,Helvetica,Lucida Sans;
    }
